name: Deploying the AKS infrastructure
on:
  push:
    branches:
      - main
  pull_request:
    branches:
     - main
jobs:
  build:
    runs-on: ubuntu-latest  
		
steps:
  - name: Checkout code
    uses: actions/checkout@v4

  - name: Run online script
    run: echo "hello world!"




			
	  
		  
	
