apiVersion: storage.k8s.io/v1 
kind: StorageClass 
metadata:
  name: custom-sc 
provisioner: kubernetes.io/gce-pd
volumeBindingMode: Immediate
allowVolumeExpansion: true 
reclaimPolicy: Retain 
parameters: 
  type: pd-standard 
  fsType: ext4 
  replication-type: none